@page
@model Downloads.Pages_Cars.AdminCarModel 

@{
    ViewData["IsColourful"] = true;
    ViewData["Title"] = "Cars";
}

<h1 style="padding-top:20px;">Cars Shop</h1>

<p>
    <a asp-page="/Cars/Create">Add New Car</a> <br>
    <a asp-page="/Admin/AdminMenu">Back to Admin Menu</a>
</p>

<div class="cars-containerAdmin">
    @foreach (var car in Model.Car)
    {
        <div class="car-card"> 
               
            <div class="car-image-containerAdmin" style="background-color: white; border-radius: 15px; padding: 10px; display: inline-block;">
                <div class="CruddyButtys">
                    <!-- Dropdown menu -->
                    <div class="dropdown" style="width: 10px;">
                        <button class="btn btn-transparent dropdown-toggle" type="button" id="dropdownMenuButton" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            <i class="fas fa-ellipsis-h" style="color: black; width: 10px;"></i>
                        </button>
                       <div class="dropdown-menu dropdown-menu-narrow" aria-labelledby="dropdownMenuButton">
                            <a asp-page="/Cars/Edit" asp-route-id="@car.CarID" class="dropdown-item">Edit</a>
                            <a asp-page="/Cars/Delete" asp-route-id="@car.CarID" class="dropdown-item">Ban</a>
                        </div>
                    </div>
                </div>
                <img src="@car.CarPicURL" alt="Car Image" class="car-imageAdmin" style="width: 300px; height: 300px; object-fit: contain; border-radius: 10px;"/>
            </div>
            <div class="car-info">
                <h2>@Html.DisplayFor(modelItem => car.CarName)</h2>
                <h2>@Html.DisplayFor(modelItem => car.CarModel)</h2>
                <p>Year: @Html.DisplayFor(modelItem => car.CarYear)</p>
                <p>Grade: @Html.DisplayFor(modelItem => car.CarGrade)</p>
                <h2>£ @String.Format("{0:N0}", car.CarCost)</h2> <br> 
                <div style="text-align: center;"> 
                    <button class="buy-btn" onclick="location.href='/Marketplace'">Buy Now</button>
                </div>
                
            
            </div>
        </div>
    }

</div>