@page
@model Downloads.Pages_PlayerStats.AdminPlayerModel

@{
    ViewData["IsColourful"] = true;
    ViewData["Title"] = "Index";
}


<h1 style="padding-top:20px;"> Leaderboard </h1>

<p>
    <a asp-page="/Admin/AdminMenu">Back to Admin Menu</a>
</p>

<div class="player-container">   
    @foreach (var Stats in Model.PlayerStats)
    {
        <div class="players-card">

            
           

            
            <div class="FatImageCentre" style="border-bottom: 4px solid #6c757d ;">
                <img src="@Stats.ProfilePic" alt="Profile Picture" class="player-image" />
            </div>
           
            <div class="player-info">
                <h2>@Html.DisplayFor(modelItem => Stats.Username)</h2>
                <h4>Rank: @Html.DisplayFor(modelItem => Stats.RankLevel)</h4>
                <p>Social Level: @Html.DisplayFor(modelItem => Stats.SocialLevel)</p>
                <p>House location: @Html.DisplayFor(modelItem => Stats.HouseLocation)</p>
                <h3>£ @String.Format("{0:N0}", Stats.Currency)</h3> <br>
                <div style="text-align: center;"> 
                    <a asp-page="/PlayerStats/ViewProfile" asp-route-id="@Stats.PlayerID" class="buy-btn">View Profile</a>
                </div>
                
                <div class="CruddyButtys">
                    <!-- Dropdown menu -->
                    <div class="dropdown" style="width: 10px;">
                        <button class="btn btn-transparent dropdown-toggle" type="button" id="dropdownMenuButton" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            <i class="fas fa-ellipsis-h" style="color: #6c757d; width: 10px;"></i>
                        </button>
                       <div class="dropdown-menu dropdown-menu-narrow" aria-labelledby="dropdownMenuButton">
                            <a asp-page="/PlayerStats/Edit" asp-route-id="@Stats.PlayerID" class="dropdown-item">Edit</a>
                            <a asp-page="/PlayerStats/Delete" asp-route-id="@Stats.PlayerID" class="dropdown-item">Ban</a>
                        </div>
                    </div>
                </div>

            </div>
        </div>
    }
</div>
